

h1{
    color:rgba(247, 0, 255, 0.836);
    background-color: rgb(207, 228, 89);
    height: 50px;
    width: 500px;
    font-style: oblique;
    font-size: 300%;
    text-align: center;
}
p{
    color: rgba(255, 230, 0, 0.863);
    font-size: 160%;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.555);
    text-align: justify;
}
.frnd{
    background-color: brown;
}
.t{
    color: cadetblue;
}
#me{
    font-size: xx-large;
    background-color: rgba(0, 0, 255, 0.308);
    font-style: initial;
    color: lightcoral;
}
.blog{
    border: 20px solid lightskyblue;
    border-radius: 20px;
    margin: 1%;
    padding: 20px 40px 10px 22px;
    width: 30%;
    display: inline-block;
}
